<div class="d-flex justify-content-between">
    <div class="summary-container">
        <div class="summary-card">
          <div class="icon-left">
            <img src="assets/images/wallet-icon.svg" alt="Investment Icon">
          </div>
          <div class="details">
            <div class="title">TOTAL INVESTMENT</div>
            <div class="amount">$524</div>
            <div class="change positive">
              <span>5.4% <img src="assets/images/green_arrow.svg" alt="Up Arrow"></span> +$0.8923 
            </div>
          </div>
        </div>
        <div class="summary-card">
          <div class="icon-left">
            <img src="assets/images/wallet-icon.svg" alt="Return Icon">
          </div>
          <div class="details">
            <div class="title">TOTAL RETURN</div>
            <div class="amount">$4,275.28</div>
            <div class="description">You gained <span>$230.87</span> in the past week's</div>
          </div>
          <div class="change positive">
            <span>5.4% <img src="assets/images/green_arrow.svg" alt="Up Arrow"></span>
          </div>
        </div>
      </div>
      
    <div>
        <div class="card"></div>
        <div class="mt-5 card"></div>
    </div>
</div>