<div class="d-flex justify-content-between">
    <div>
        <section class="d-flex">
            <div class="card"></div>
            <div class="card"></div>
        </section>

        <section class="mt-5">
            <p>portfolio summary</p>
            <div class="card"></div>
        </section>
        <section class="mt-5">
            <p>stock summary</p>
            <div class="card"></div>
        </section>
    </div>

    <div>
        <p>trending</p>
        <div class="card"></div>
    </div>
</div>