<div class="open-account-container row">
    <div class="form-card">
        <h2>Create your account</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <div class="username-input">
                    <input type="text" id="username" name="username" [(ngModel)]="username" required>
                    <button type="button" class="username-icon">
                        <i class="fas fa-user"></i>
                    </button>
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="email">Email</label>
                <div class="email-input">
                    <input type="email" id="email" name="email" [(ngModel)]="email" required email>
                    <i class="fas fa-envelope"></i>
                </div>
                <div *ngIf="email && !isEmailValid()" class="error-message">
                    Please enter a valid email address.
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="password">Password</label>
                <div class="password-input">
                    <input [type]="passwordVisible ? 'text' : 'password'" id="password" name="password" [(ngModel)]="password" required minlength="4">
                    <button type="button" (click)="togglePasswordVisibility()">
                        <i [class]="passwordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                    </button>
                </div>
                <div *ngIf="password.length < 4 && password.length > 0" class="error-message">
                    Password must be at least 4 characters long.
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="confirm-password">Confirm Password</label>
                <div class="password-input">
                    <input [type]="confirmPasswordVisible ? 'text' : 'password'" id="confirm-password" name="confirm-password" [(ngModel)]="confirmPassword" required>
                    <button type="button" (click)="toggleConfirmPasswordVisibility()">
                        <i [class]="confirmPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                    </button>
                </div>
                <div *ngIf="password !== confirmPassword && confirmPassword.length > 0" class="error-message">
                    Passwords do not match.
                </div>
            </div>
            <button type="submit" class="submit-btn" [disabled]="!isFormValid()">Continue</button>
        </form>
        <p class="sign-in-text">Are you already registered? <a routerLink="/auth/login">Sign In!</a></p>
    </div>
</div>
