.sidebar {
  height: 100vh;
  width: 100px;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 0px;
  border-radius: 0 25px 25px 0;
  transition: 0.2s;

  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: flex;
    cursor: pointer;
    margin-left: 30px;
    padding: 10px;

    [class^="icon-"] {
      margin-right: 5px;
    }
  }
}

.sidebar .logo {
  margin-left: 30px;
  .icon-bg {
    margin-right: 10px;
  }
}

.sidebar.open {
  width: 250px;
}

.sidebar li.active {
  margin: 0px 0px 0px 30px;
  padding: 10px;
  border-radius: 12px;
}

.sidebar .btn-prev,
.sidebar .btn-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(50%);
}

hr {
    margin: 0 0 0 20px;
}

.sidebar .group {
  margin-top: 30px;
}

.sidebar .group .title {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.75px;
  margin-left: 30px;
}

.sidebar label.switch {
  margin-left: auto;
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.sidebar .group.support {
  margin-top: auto;
  margin-left: 20px;
  padding: 15px;
  border-radius: 12px;
}

.sidebar .group.logout {
  display: flex;
  margin-top: auto;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 20px;
  [class^="icon-"] {
    margin-right: 10px;
  }
}

/* The switch - the outer container */
.switch {
  position: relative;
  display: inline-block;
  width: 52px; /* Slightly increased width to match movement */
  height: 26px; /* Slightly increased height for perfect centering */
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  height: 22px; /* Slightly increased height for perfect centering */
  width: 40px; /* Slightly increased width to match movement */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

/* The circle inside the slider */
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  margin-left: 1px;
  margin-top: 1px;
}

/* Toggle the switch when checked */
input:checked + .slider {
  background-color: #2196f3;
}

/* Move the slider when checked */
input:checked + .slider:before {
  transform: translateX(20px); /* Fine-tuned for better alignment */
}
