<div class="sidebar">
    <div class="logo">
        <img src="https://placehold.co/100" alt="Stockyodha Logo">
        <span>stockyodha</span>
    </div>
    <nav class="navigation">
        <span>USER PANEL</span>
        <ul>
            <li routerLinkActive="active" routerLink="/dashboard/home"><a><img src="assets/images/dashboard.svg" alt="Dashboard Icon"> dashboard</a></li>
            <li routerLinkActive="active" routerLink="/dashboard/portfolio"><a><img src="assets/images/portfolio.svg" alt="Portfolio Icon"> portfolio</a></li>
            <li routerLinkActive="active" routerLink="/dashboard/news"><a><img src="assets/images/news.svg" alt="News Icon"> news</a></li>
            <li routerLinkActive="active" routerLink="/dashboard/transactions"><a><img src="assets/images/transaction.svg" alt="Transaction Icon"> transactions</a></li>
        </ul>
    </nav>
    <div class="other">
        <span>OTHER</span>
        <ul>
            <li><a><img src="assets/images/settings.svg" alt="Settings Icon"> settings</a></li>
            <li>
                <a>
                    <img src="assets/images/dark-mode.svg" alt="Dark Mode Icon"> dark mode
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </a>
            </li>
        </ul>
    </div>
    <div class="support">
        <div class="support-content">
            <div class="d-flex align-items-center">
                <img src="assets/images/support.svg" alt="Support Icon">
                <span>Need Support ?</span>
                <button class="close-btn">&times;</button>
            </div>
            <p>Contact with one of our expert to get support.</p>
        </div>
    </div>
    <div class="logout">
        <a><img src="assets/images/logout.svg" alt="Logout Icon"> logout</a>
    </div>
</div>