<div class="sidebar" [ngClass]="{'open': isOpen()}">
    <div class="logo">
        <img class="icon-bg" src="https://placehold.co/100" alt="Stockyodha Logo">
        <span *ngIf="isOpen()" class="title">stockyodha</span>
    </div>
    <nav class="group navigation">
        <ul>
            <li routerLinkActive="active" routerLink="/dashboard/home">
                <div class="icon-md">
                    <i class="fa-regular fa-desktop"></i>
                </div>
                <a class="body-text" *ngIf="isOpen()"> dashboard</a>
            </li>
            <li routerLinkActive="active" routerLink="/dashboard/portfolio">
                <div class="icon-md">
                    <i class="fa-regular fa-briefcase"></i>
                </div>
                <a class="body-text" *ngIf="isOpen()"> portfolio</a>
            <li routerLinkActive="active" routerLink="/dashboard/news">
                <div class="icon-md">
                    <i class="fa-regular fa-newspaper"></i>
                </div>
                <a class="body-text" *ngIf="isOpen()"> news</a>
            </li>
            <li routerLinkActive="active" routerLink="/dashboard/transactions">
                <div class="icon-md">
                    <i class="fa-regular fa-money-bill"></i>
                </div>
                <a class="body-text" *ngIf="isOpen()"> transactions</a>
            </li>
        </ul>
    </nav>
    <hr>
    <div class="group other">
        <ul>
            <li>
                <div class="icon-md">
                    <i class="fa-regular fa-gear"></i>
                </div>
                <a class="body-text" *ngIf="isOpen()">settings</a>
            </li>
            <li *ngIf="isOpen()">

                <div class="icon-md">
                    <i class="fa-regular fa-moon"></i>
                </div>
                <a class="body-text">dark mode</a>
                <label class="switch" (click)="toggleUIMode()">
                    <input type="checkbox" [checked]="isDarkMode()">
                    <span class="slider round"></span>
                </label>

            </li>
        </ul>
    </div>
    <div class="group support" *ngIf="isOpen()">
        <div class="support-content">
            <div class="d-flex justify-content-between align-items-center">
                <i class="icon-sm fa-regular fa-headset"></i>
                <span class="section-title">Need Support ?</span>
                <i class="icon-sm fa-regular fa-xmark"></i>
            </div>
            <p class="body-text mt-2">Contact with one of our expert to get support.</p>
        </div>
    </div>
    <div class="group logout">
        <div class="icon-md">
            <i class="fa-regular fa-sign-out"></i>
        </div>
        <a class="body-text" *ngIf="isOpen()">logout</a>
    </div>
    <div *ngIf="isOpen()" class="btn-prev" (click)="toggleSidebar()"></div>
    <div *ngIf="!isOpen()" class="btn-next" (click)="toggleSidebar()"></div>
</div>