.carousel-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.no-watchlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  padding: 20px 10px;
}