.dashboard {
    position: relative;
    overflow: hidden;
}

.pages {
    margin-left: 125px;
    min-height: 100vh;
}

.pages.open {
    margin-left: 275px;
}

.content {
    margin-top: 100px;
}



// .dashboard {
//     position: relative;
//     overflow: hidden;
//     background-color: #f8f9fa;
// }

// .pages {
//     margin-left: 250px;
//     padding: 20px;
//     min-height: 100vh;
// }

// .content {
//     margin-top: 75px;
// }