// _dark-theme.scss
$chinese-black: #0d1117;
$gunmetal: #21262d;
$dark-gunmetal: #1b2029;
$crayola: #30363d;
$cloud-white: #c9d1d9;
$cool-gray: #8b949e;
$metallic-blue: #2e4a7e;
$chinese-blue: #3a5b9a;
$han-purple: #6425fe;
$metallic-green: #2C7300;
$true-blue: #0169cd;