// _light-theme.scss
$soft-white: #f3f4f6;
$cool-gray: #e0e3e7;
$pearl-gray: #e8ebef;
$lavender-gray: #bcc3cb;
$charcoal-black: #2c3a45;
$storm-gray: #4f5b66;
$shadow-blue: #728ab7;
$yander-blue: #5973a1;
$han-purple: #6425fe;
$menthol: #c7ffa5;
$true-blue: #0169cd;