// _variables.scss
$font-family: 'Open Sans', Helvetica, Arial, sans-serif;

$title-size: 24px;
$title-line-height: 32px;

$subtitle-size: 20px;
$subtitle-line-height: 28px;

$section-title-size: 18px;
$section-title-line-height: 26px;

$body-text-size: 16px;
$body-text-line-height: 24px;

$small-title-size: 14px;
$small-title-line-height: 20px;

$small-text-size: 14px;
$small-text-line-height: 20px;

$caption-text-size: 12px;
$caption-line-height: 18px;