$warning-color: #d27828;
$success-color: #007C0C;
$error-color: #A60000;
$btn-primary-color: #2C4EA1;

// Light UI colors
$background-color: #FFFFFF;
$background-secondary-color: #F7F8FA;

$btn-primary-color: #2C4EA1;
$btn-text-color: #FFFFFF;

$h1-font-color: #2C2C30;


// Light text colors
$sidebar-title-font-color: #C7C7CD;

// Dark UI colors
$background-color-dark: #18181A;
$background-secondary-color-dark: #232325;

$btn-primary-color-dark: #2C4EA1;
$btn-text-color-dark: #FFFFFF;

// Dark text colors
$sidebar-title-font-color-dark: #C7C7CD;


$h1-font-color-dark: #FEFEFE;


$xl-font-size: 3rem;
$sm-font-size: 1rem;
$sm-font-weight: 500;
$xs-font-size: 1rem;
$xs-font-weight: 400;
$content-font-size: 1.5rem;
$content-font-weight: 300;