<div class="wallet-widget card">
    <div class="balance-section">
        <div class="balance-label small-title">Balance</div>
        <div class="row">
            <div class="col-7" style="padding-right: 0;">
                <div class="balance-amount card-accent">
                    <span class="body-text">$14,032.56</span>
                </div>
            </div>
            <div class="col-5">
                <div class="growth-section card-accent-positive">
                    <div class="growth-percent body-text">+5.63%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="invested-section mt-3">
        <div class="invested-label small-title">Invested</div>
        <div class="invested-amount">
            <span class="body-text">$7,532.21</span>
            <div class="invest-arrow icon-bg">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </div>
    <div class="top-stock-section mt-3">
        <div class="top-stock-label caption-text">Top Stock</div>
        <div class="top-stock-details">
            <div class="stock-info d-flex justify-content-between">
                <div class="stock-nam body-text ">Tesla Inc</div>
                <div>
                    <div class="stock-symbol body-text">TSLA</div>
                    <div class="stock-change body-text">+17.63</div>
                </div>
            </div>
            <div class="stock-values d-flex justify-content-between mt-3">
                <div class="invested-value">
                    <div class="label caption-text">Invested Value</div>
                    <div class="value body-text">$29.34</div>
                </div>
                <div class="current-value">
                    <div class="label caption-text">Current Value</div>
                    <div class="value body-text">$177.90</div>
                </div>
                <div class="growth-value">
                    <div class="label caption-text">Growth</div>
                    <div class="value body-text">+5.63%</div>
                </div>
            </div>
        </div>
    </div>
</div>