<div class="header" [ngClass]="{'open': isOpen()}">
  <div class="left-section">
    <p class="title mb-0">{{title}}</p>
  </div>
  <div class="right-section">
    <app-search></app-search>
    <div class="btn-round">
      <div class="icon-md">
        <i class="fa-sharp fa-regular fa-bell"></i>
      </div>
    </div>
    <div class="btn-round">
      <div class="icon-md">
        <i class="fa-regular fa-wallet"></i>
      </div>
    </div>
    <div class="profile">
      <div class="icon-md">
        <i class="fa-duotone fa-solid fa-user"></i>
      </div>
      <span>John Doe</span>
    </div>
  </div>
</div>