.header {
  width: calc(100% - 150px);
  position: fixed;
  top: 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header.open {
    width: calc(100% - 300px);
}

.header .right-section {
    display: flex;
    align-items: center;
}

.search-box {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
    input {
        background: transparent;
        border: none;
        outline: none;
        padding: 0px 20px;
        border-radius: 50px;
        width: 200px;
    }
    .icon-md {
       margin: 5px;
    }
}
