.header {
  width: calc(100% - 150px);
  position: fixed;
  top: 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header.open {
    width: calc(100% - 300px);
}

.header .right-section {
    display: flex;
    align-items: center;
}
